{% extends 'cal/base.html' %}
{% load static %}

{% block title %}
Calendar
{% endblock %}

{% block content %}

<body>
	<div class="clearfix">
		<a class="btn btn-info right" href="{% url 'cal:event_new' %}"> New Event </a>
	</div>

	<div id="test-instance" style="height: 800px;"></div>

	<script>
		JSCalendar.on('new', function(cal, xtra) {
			_jscallog("Class level hook caught for instance with id " + cal.id)
		});

		var today = new Date();
		var matrix = {};
		matrix[today.getFullYear()] = {};

		matrix[today.getFullYear()][today.getMonth()] = {{ events|safe }};

		var calendar = new JSCalendar(document.getElementById('test-instance'), {
			titleCropSize : 30,
			eventBackground : "rgb(193, 155, 113)"
		});
		calendar.init();

		calendar.on('willRender', function() {
			var titleBar = calendar.elem.querySelector('.control-bar-title');
			titleBar.style.fontWeight = (
			calendar.state.month == today.getMonth() &&
			calendar.state.year  == today.getFullYear()
			) ? "bold" : "";
		}).on('rendered', function(inst) {
			document.getElementById('stateOutput').textContent = JSON.stringify(inst.debug(), null, 4);
		}).setMatrix( matrix ).render();
	</script>
</body>

{% endblock %}
