{% extends 'cal/base.html' %}
{% load static %}

{% block title %}
Event
{% endblock %}

{% block content %}
<div class="clearfix">
  <a class="btn btn-info left" href="{% url 'cal:calendar' %}"> Calendar </a>
</div>

<div id="area">
  {% if form.errors %}
  {% for field in form %}
  {% for error in field.errors %}
  <div class="alert alert-danger">
    {{ field.label }} <strong>{{ error|escape }}</strong>
  </div>
  {% endfor %}

  {% endfor %}
  {% for error in form.non_field_errors %}
  <div class="alert alert-danger">
    {{ field.label }} <strong>{{ error|escape }}</strong>
  </div>
  {% endfor %}
  {% endif %}

  <form method="post" id="myForm">
    {% csrf_token %}
    <table class="form form-table">
      {{ form }}
      <tr><td colspan="2"><button type="submit" class="btn btn-info right" id="savebutton"> Submit </button></td></tr>
    </table>
  </form>
</div>

<!-- jQuery and Bootstrap core JS, plus Popper -->
<script
src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>

<script src="{% static 'cal/js/jquery.datetimepicker.full.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<script type="text/javascript">
  $(function () {
    $("#id_start_time").datetimepicker({
      format:'Y-m-d H:i',
    });
  });
  $(function () {
    $("#id_end_time").datetimepicker({
      format:'Y-m-d H:i',
    });
  });

  function getDates() {
    var start = document.getElementById('id_start_time').value
    var end = document.getElementById('id_end_time').value
    var offset = new Date().getTimezoneOffset(); // No need to add offset

    start2 = new Date (new Date(start).getTime())
    end2 = new Date (new Date(end).getTime())

    start3 = start2.toISOString().substr(0, 10) + " " + start2.toISOString().substr(11, 5);
    end3 = end2.toISOString().substr(0, 10) + " " + end2.toISOString().substr(11, 5);

    document.getElementById('id_start_time').value = start3
    document.getElementById('id_end_time').value = end3
  }
  document.getElementById("myForm").addEventListener("submit", getDates);
</script>
{% endblock %}
k %}
