django==2.1.7
django-treebeard==4.3
python-dateutil==2.8.0
six==1.11.0

django-extensions==2.2.5
django-todo==2.4.9

django-taggit==1.1.0 
django-ckeditor==5.7.1 
django-js-asset==1.2.2 
django-haystack==2.8.1 
whoosh==2.7.4 
django-timezone-field==3.0 
django-autocomplete-light==3.4.1 

django-contrib-comments==1.9.1 
django-threadedcomments==1.2
django-datetime-utc==1.0.2
