{% extends "base.html" %} {% block title %}django-todo{% endblock %}

{% block content %}

  <div class="col-12">
    <h1>Agenda</h1>
    <p>
      This is a
      <i>pluggable</i>, multi-user, multi-group, multi-list todo and ticketing system.
    </p>
    <p>
      Users can create tasks for themselves or for others, or create Unassigned tasks that will be filed into a specific list (public tickets).
    </p>
  </div>


  <div class="col-4">
    <div class="card mt-4">
      <div class="card-header">
        <h5>
          Log in
        </h5>
      </div>
      <div class="card-body">
          {% if user.is_authenticated %}
          <p>You are already logged in.</p>
          <p>See <a href="/todo/">Todo</a></p>
          <p>See <a href="/calendar/">Calendar</a></p>
          <p>See <a href="/notes/">Notes</a></p>
          {% else %}
          <p>
            <a href="{% url 'login' %}" class="btn btn-primary">Log In</a>
          </p>
          {% endif %}
      </div>
    </div>
  </div>


{% endblock %}
